<table border="0" cellspacing="0">
	<col width="40" />
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Department</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<!-- need to make this conditional -->
		<tr class="zero"><td colspan="5">No users exist but <a href="/user/form">new ones can be added</a>.</td></tr>
		<tr class="user">
			<td class="id"><a href="/user/form/id/">#local.id#</a></td>
			<td class="name"><a href="/user/form/id/">#local.user.getFirstName()# #local.user.getLastName()#</a></td>
			<td class="email">#local.user.getEmail()#</td>
			<td class="department">#local.user.getDepartment().getName()#</td>
			<td class="delete"><a href="/user/delete/id/">DELETE</a></td>
		</tr>
	</tbody>
</table>